<app-header class="row no-padding"></app-header>
<form [formGroup]="weightForm" (ngSubmit)="onWeightFormSubmit(weightForm.value)">

    <div class="parent-cont">

        <div class="row">

            <div class="col-md-6">


                <div class="row" style="margin-bottom: 1rem;">

                    <div class="col-md-3">

                        <button type="button" [ngClass]="(weightType=='FIRST')?'weight-selected':''"
                            class="weight-select btn btn-outline-success" (click)="weightTypeChanged('FIRST')">First
                            Weight</button>

                    </div>
                    <div class="col-md-3">

                        <button  type="button" [ngClass]="(weightType=='SECOND')?'weight-selected':''"
                            class="weight-select  btn btn-outline-success" (click)="weightTypeChanged('SECOND')">Second
                            Weight</button>


                    </div>

                    <div class="col-md-3">

                        <button type="button" [ngClass]="(weightType=='TARE')?'weight-selected':''"
                            class="weight-select  btn btn-outline-success" (click)="weightTypeChanged('TARE')">Tare
                            Weight</button>


                    </div>

                    <div class="col-md-3">
                        <div class="">
                            <label for="vehicleNumber">Ticket Number:</label>
                            <input [readonly]="weightType =='FIRST'" id="vehicleNumber" type="number" (keyup.enter)="requestSecandWeight(this)"
                                class="form-control" formControlName="ticketNumber" value="" [(ngModel)]='ticketnumber'>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label for="vehicleNumber">Vehicle Number:</label>
                    <input id="vehicleNumber" type="text" class="form-control" formControlName="vehicleNumber"
                        [resultFormatter]="vehicleNumberFormatMatchesResult"
                        [inputFormatter]="vehicleNumberFormatMatchesinput" [(ngModel)]='vehicleNumber'
                        [ngbTypeahead]="vehicleNumberList" value="">
                </div>


                <div class="form-group">
                    <label for="partyName">Consigner/Customer/Party Name:</label>
                    <input id="partyName" type="text" class="form-control" formControlName="partyName"
                        [resultFormatter]="partyNameFormatMatchesResult" [inputFormatter]="partyNameFormatMatchesinput"
                        [ngbTypeahead]="partyNameList">
                </div>

                <!-- 
                <div class="form-group">
                    <label for="supplierName">Consignee/Supplier Name:</label>
                    <input type="text" class="form-control" id="supplierName">
                </div> -->

                <div class="form-group">
                    <label for="materialName">Material Name:</label>
                    <input id="materialName" type="text" class="form-control" formControlName="materialName"
                        [resultFormatter]="materialNameFormatMatchesResult"
                        [inputFormatter]="materialNameFormatMatchesinput" [ngbTypeahead]="materialNameList">
                </div>

                <div class="form-group">
                    <label for="amountName">Amount/Charges:</label>
                    <input type="number" class="form-control" formControlName="amount" id="amountName">
                </div>


            </div>

            <div class="col-md-6">

                <div class="col-md-12 no-padding">

                    <p type="button" class="weight-display btn btn-dark">52485.67</p>

                </div>


                <div class="col-auto no-padding weight-div-alighnment">
                    <label class="sr-only">Tare (KG)</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">Tare (KG)</div>
                        </div>
                        <input type="number" class="weight-data-text form-control" formControlName="tareWt">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">12-10-2019 12.00 PM</div>
                        </div>
                    </div>
                </div>
                <div class="col-auto no-padding weight-div-alighnment">
                    <label class="sr-only">Gross (KG)</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">Gross (KG)</div>
                        </div>
                        <input type="number" class="weight-data-text form-control"  formControlName="grossWt">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">12-10-2019 12.00 PM</div>
                        </div>
                    </div>
                </div>


                <div class="col-auto no-padding weight-div-alighnment">
                    <label class="sr-only">Net (KG)</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">Net (KG)</div>
                        </div>
                        <input type="number" class="weight-data-text form-control"  formControlName="netWt">
                        <div class="input-group-prepend">
                            <div class="input-group-text weight-cap-text">12-10-2019 12.00 PM</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>

    <div class="btm-parent-cont">

        <div class="col-md-12">

            <button type="button" (click)="submitClicked('SAVE')" class="option-btn">Save Only</button>
            <button type="button" (click)="submitClicked('PRINTSAVE')" class="option-btn">Save & Print</button>
            <button type="button" (click)="submitClicked('CANCEL')" class="option-btn">Cancel</button>

        </div>
    </div>
</form>