.parent-cont{
    margin: 50px;
    border-style: double;
    padding: 30px;
}

.weight-select{
    width: 100%;
    font-weight: 900;
    height: 100%;

}

.weight-selected{
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    font-weight: 900;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #a6cc1b;
    border-color: #28a745;
}

.weight-display{
 
    background-color: #000000;
    border-color: #ffffff;
    color: white;
    font-weight: 900;
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
    width: 100%;
    height: auto;
    font-size: 40px;
    padding: 10px;
    text-align: right;

}

.weight-div-alighnment{
    padding-top: 25px;
}

.weight-cap-text{
    font-weight: 900;
    min-width: 150px;
    color: black;
}

.weight-data-text{
    font-weight: 900;
    color: black;
    height: 55px;
    font-size: 35px;
    text-align: right;
}

.btm-parent-cont{
    margin: 50px;
    border-style: double;
    padding: 5px;
    text-align: right;

}

.option-btn{
    height: 48px;
    min-width: 107px;
    margin: 9px;
    font-weight: 900;
    font-size: 18px;
}


label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 900;
}

