<div class="box-shadow" id="box">
    <div class="row no-padding">
        <div class="col-md-4">
            <div class="d-flex logo-container">
                <div class="brand_logo_container th-light">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png"
                        class="brand_logo" alt="Logo">
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <div (click)="userMenuClicked()" class="dropdown row user-info-container no-padding">
                <div class="brand_logo_container  justify-content-center">
                    <img src="assets/user_icon.jpg" class="user_icon" alt="Logo">
                </div>
                <div class="user-info">WB001</div>
                <div class="user-info"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
            </div>
        </div>


    </div>
</div>

<div *ngIf="menuClicked" class="nav-right th-blue">
    <button class="close-menu" (click)="userMenuClicked()"> Close Menu</button>
    <div class="row">

        <div class="col-sm-12">
            <button type="button" class="btn-head" (click)="isMastersCollapsed = !isMastersCollapsed"
                [attr.aria-expanded]="!isMastersCollapsed" aria-controls="MastersCollapsed">
                Masters
            </button>
            <div id="MastersCollapsed" [ngbCollapse]="isMastersCollapsed">
                <!-- <button *ngFor="let lang of langList; let i = index" class="list-child"><i class="fa fa-language"></i>{{i+1}} - {{lang.langName}}</button> -->
                <button class="list-child" [routerLink]="['/master/vehicle']">Vehicle Master</button>
                <button class="list-child" [routerLink]="['/master/supplier']">Supplier Master</button>
                <button class="list-child" [routerLink]="['/master/customer']">Party Master</button>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <button type="button" class="btn-head" (click)="isReportCollapsed = !isReportCollapsed"
                [attr.aria-expanded]="!isReportCollapsed" aria-controls="ReportCollapsed">
                Reports
            </button>
            <div id="ReportCollapsed" [ngbCollapse]="isReportCollapsed">
                <!-- <button *ngFor="let lang of langList; let i = index" class="list-child"><i class="fa fa-language"></i>{{i+1}} - {{lang.langName}}</button> -->
                <button class="list-child">Monthly Report</button>
                <button class="list-child">Weekly Report</button>
                <button class="list-child">Custom Report</button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <button type="button" class="btn-head" (click)="isRoleCollapsed = !isRoleCollapsed"
                [attr.aria-expanded]="!isRoleCollapsed" aria-controls="RoleCollapsed">
                Role
            </button>
            <div id="RoleCollapsed" [ngbCollapse]="isRoleCollapsed">
                <!-- <button *ngFor="let lang of langList; let i = index" class="list-child"><i class="fa fa-language"></i>{{i+1}} - {{lang.langName}}</button> -->
                <button *ngFor="let role of roleList; let i = index" class="list-child">
                    {{role.roleId}}-{{role.rolename}}</button>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-sm-12">
            <button type="button" class="btn-head" (click)="isSettingCollapsed = !isSettingCollapsed"
                [attr.aria-expanded]="!isSettingCollapsed" aria-controls="settingCollapsed">
                Settings
            </button>
            <div id="settingCollapsed" [ngbCollapse]="isSettingCollapsed">
                <button class="list-child">Tariff Setting</button>
                <button class="list-child">Communication Setting</button>
                <button class="list-child">Printer Setting</button>
                <button class="list-child">Data Import/Export</button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <button type="button" class="btn-head" (click)="isLangCollapsed = !isLangCollapsed"
                [attr.aria-expanded]="!isLangCollapsed" aria-controls="LangCollapsed">
                Language
            </button>
            <div id="LangCollapsed" [ngbCollapse]="isLangCollapsed">
                <!-- <button *ngFor="let lang of langList; let i = index" class="list-child"><i class="fa fa-language"></i>{{i+1}} - {{lang.langName}}</button> -->
                <button *ngFor="let lang of langList; let i = index" class="list-child">
                    {{lang.langName}}</button>
            </div>
        </div>
    </div>

</div>