#box {
    background-color: #3D6AA2;
    width: 100%;
    height: 70px;
   
}



.brand_logo{
    width: 70px;
}

.logo-container{
    padding-left: 10%;
}

.user_icon{
    width: 50px;
    margin: 10px;
    cursor: pointer;
}

.user-info{
  cursor: pointer;
    margin-top: 20px;
    margin-right: 6px;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 8px;
    font-weight: bold;
    color: white;
}

.user-info-container{
    float: right;
    padding-right: inherit;
    margin-right: 10%;
    cursor: pointer;
}



















.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .nav-right{
    width: 250px;
     position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    box-shadow: -6px 0px 20px 0px #aaaaaa;
    z-index: 99;
    
  }

  .close-menu{
    width: 100%;
    background: #ff0707;
    color: white;
    border: none;
    font-weight: 900;
}
  
.btn-head{
  width: 100%;
  height: 35px;
}

.list-child{
  background: white;
  font-weight: 900;
  width: 100%;
  margin: 0px;
  border-bottom-style: solid;
  border-color: #6f6f6f33;
  border-width: 1px;
  padding: 6px;
  text-align: left;
}