/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.th-dark{
    background: #284768;
}

.th-light{
    background: #ffffff;
}

.th-red{
    background: #be392b;
}

.th-blue{
    background: #007ACC;
}

.no-padding{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

app-header{
    box-shadow: 0 10px 21px 3px #909090;
}

.dataTables_wrapper {
  
    margin-left: 10px;
    margin-right: 10px;}