<div class="app-login th-dark">
    <div class="container h-100">
    <div class="d-flex justify-content-center h-100">



        <div class="user_card th-light">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container th-light">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">



                <form [formGroup]="loginForm" (ngSubmit) = "onLoginFormSubmit(loginForm.value)">


                    
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control input_user" formControlName="userId" placeholder="Username">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" formControlName="password" class="form-control input_pass"  placeholder="Password">
                    </div>   
                    
                    

                    <div class="input-group mb-2">
                            <div class="d-flex justify-content-center mt-3 form_container" style="width: 100%">
                                    <button type="submit"  class="btn login_btn">Login</button>
                                </div>
                        </div>   
                        



                 
                </form>
            </div>
            
          
        </div>




    </div>
</div>
</div>
